{% extends "base.html" %}
{% block title %}Cohorte Timer{% endblock %}
{% block content %}
    <section class="container flex-grow-1 card text-center">
        <h1 class="d-flex align-self-center">Información general</h1>
        <hr class="border border-primary border-3 opacity-75">
        <form  method="post" >
            {{ form.as_p }}
            {% csrf_token %}
            {% if not end_time %}
                <input type="submit" value="Enviar" class="btn btn-outline-primary">
            {% endif %}
        </form>

        {% if end_time %}
            <h2>Tiempo de la cohorte</h2>
            <ul class='list-unstyled'>
                <li>Cantidad de meses de duración de la cohote: {{ cohorte_duration }} meses</li>
                <li>Fecha de inicio {{ start_date }}</li>
                <li>Fecha de finalización {{ end_time }}</li>
                <li>Cantidad de dias festivos: {{ festives_days }}</li>
            </ul>
        {% endif %}
    </section>
{% endblock %}